* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-color-upper: #ff9aa8;
  --header-color-down: #FFEB3B;
  --body-color: #fffbd4;
  --text-color-ligtblack: #5a5a5a;
  --footer--color: #ffbd79;
  --box-shadow-color: #cdcdcd;
  --i:
}

body {
  background-color: var(--body-color);
}

.wrapper {
  max-width: 1040px;
  margin: 0 auto;
}

h2 {
  font-size: xx-large;
  color: var(--text-color-ligtblack);
}

p {
  color: var(--text-color-ligtblack);
  font-size: larger;
}



/* HEADER */

.header {
  background-image: linear-gradient(180deg, var(--header-color-upper), var(--header-color-down));
  height: 25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 30px 50px 30px var(--header-color-down);
}

.header__logo {
  height: 20rem;
}

/* NAV */

.navigation-container {
  height: 5rem;
  font-size: xx-large;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navigation__link--item {
  text-decoration: none;
  color: var(--text-color-ligtblack);
  cursor: pointer;
  transition: color 0.3s;
}

.navigation__link--item:hover {
  color: var(--header-color-upper);
}

.figure__image {
  width: 100%;
  height: 100%;
}

/* HAMBURGER */

/* Detta har jag använt mig utav när det kommer till hamburgarmenyn.
   Kom inte ihåg allt så fick gå in och kolla hur vi hade gjort med Jesper på lektionen.
https://github.com/AdreanRodriguez/hamburger */

.burger {
  opacity: 0;
}

.burger-btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 2.2rem;
  right: 1.2rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  display: none;
}

.burger-btn>span,
.burger-btn>span::before,
.burger-btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition: 0.3s;
}

.burger-btn>span::before {
  content: '';
  top: -8px;
}

.burger-btn>span::after {
  content: '';
  top: 8px;
}

.burger:checked~.burger-btn span {
  transform: rotate(45deg);
}

.burger:checked~.burger-btn>span::before {
  top: 0;
  transform: rotate(0);
}

.burger:checked~.burger-btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

.burger:checked~.menu {
  visibility: visible;
  right: 0;
}

/* HAMBURGER-MENU */

.menu {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 4rem;
  width: 300px;
  transition: 0.3s;
  right: -100%;
}

.menu li {
  list-style: none;
  padding: 1rem 2rem;
  text-align: right;
  cursor: pointer;
  font-size: x-large;
}

.menu li a {
  text-decoration: none;
  color: var(--text-color-ligtblack);
}




/* MAIN HOME */

.main-container--home {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.figure:nth-of-type(1) {
  grid-row: 1;
  grid-column: 2;
}

.figure:nth-of-type(3) {
  grid-row: 3;
  grid-column: 2;
}

.article {
  margin: 1rem 2rem 0rem 2rem;
}

.article-text-small {
  margin-top: .5rem;
  line-height: 1.5rem;
}

/* MAIN FACILITIES */

.main-container--facilities {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-section--facilitites {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section__facilities-list-item {
  font-size: x-large;
  margin: 2rem 0rem .5rem 0rem;
}

.main-section__info {
  margin-bottom: 2rem;
  font-style: italic;
}

.main__figure--facilities img {
  width: 100%;
}

/* MAIN ROOMS */

/* Detta har jag använt mig utav när det kommer till det snurrande galleriet:
 https://codepen.io/sparshgupta007/pen/gOeypaj */


.main-container--rooms {
  height: 38vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 4rem;
}

.main__rooms--gallery {
  width: 300px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotate 35s linear infinite;
  animation-direction: reverse;
  margin-top: 5rem;
  grid-area: 1 / 3;
}

.main__rooms--item {
  box-shadow: 0px 0px 10px 10px var(--body-color);
}

@keyframes rotate {
  from {
    transform: perspective(1200px) rotateY(0deg);
  }

  to {
    transform: perspective(1200px) rotateY(360deg);
  }
}

.main__rooms--gallery span {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i)*45deg))translateZ(365px);
}

.main__rooms--gallery span img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section__rooms--text {
  font-size: x-large;
}

/* BOOKING-FORM */

.booking-form__container {
  background-color: white;
  width: 80%;
  box-shadow: 3px 5px 10px 1px var(--box-shadow-color);
  border-radius: 10px;
  font-size: x-large;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking-form__inner {
  border: none;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.booking-form__label {
  margin: 1rem 2rem 0rem 2rem;
}

.booking-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* MAIN ORDER */

.main-container--order {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
}

.main__section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
}

.section-forrest {
  display: grid;
  grid-area: 1 / span 2;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 8px 8px 10px 0px var(--box-shadow-color);
}

.section__figure-forrest {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
}

.section__image {
  width: 100%;
  height: 100%;
}

.article__text-forrest {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.section__text-small {
  padding: 1rem;
}



.section-waterline {
  display: grid;
  grid-area: 2 / 1 / 3 / 3;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: -8px 8px 10px 0px var(--box-shadow-color);
}

.section__figure-waterline {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.article__text-waterline {
  grid-column: 2/ 2;
  grid-row: 2 / 3;
}



.section-mountain {
  display: grid;
  grid-area: 3 / span 2;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 8px 8px 10px 0px var(--box-shadow-color);
}

.section__figure-mountain {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.article__text-mountain {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}


.article__text-forrest,
.article__text-waterline,
.article__text-mountain {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.btn {
  width: 20%;
  padding: 0.25rem;
  margin: 2rem;
  border-radius: 5px;
  background-color: var(--body-color);
}

/* FOOTER */

.footer {
  background-color: var(--footer--color);
  margin-top: 5rem;
}

.footer__figure--logo {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

.footer__image--logo {
  margin: 5rem 0rem 5rem 0rem;
  width: 25%;
}


.footer__container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 5rem;
}

.footer__section--item {
  font-size: 1.25rem;
}

.footer__text--title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.section__unorderd-list--object {
  font-weight: 500;
}

.footer__list-item {
  list-style: none;
  cursor: pointer;
  line-height: 2rem;
}

.footer__btn {
  display: none;
}


















/* Media Query 
Iphone 14 pro max */

@media screen and (max-width: 430px) {

  /* HEADER
     HOME / FACILITIES / ROOMS / ORDER */

  .header {
    height: 15rem;
  }

  .header__logo {
    height: 10rem;

  }

  /* NAV */

  .navigation-container {
    display: none;
  }

  .navigation__link--item {
    margin-top: .5rem;
  }

  .burger-btn {
    display: block;
  }


  /* MAIN HOME */

  .main-container--home {
    display: block;
  }

  .article-text-small {
    margin: 2rem 0rem 5rem 0rem;
  }

  /* MAIN
     FACILITIES */

  .main-section__title {
    font-size: x-large;
  }

  .main-section--facilitites {
    padding: 2rem;
    margin-top: 5rem;
  }

  .main__figure--facilities {
    margin-bottom: 2rem;
  }

  /* MAIN 
     ROOMS */

  .main-container--rooms {
    display: contents;
  }

  .main__rooms--gallery {
    position: unset;
    transform-style: unset;
    animation: none;
    animation-direction: unset;
    margin-top: 3rem;
    height: 100%;
    width: 100%;
  }

  .main__rooms--item {
    box-shadow: none;
  }

  .main__rooms--gallery span {
    position: unset;
    transform-origin: unset;
    transform-style: unset;
    transform: none;
  }

  .main__rooms--gallery span img {
    position: unset;
    object-fit: cover;
  }

  .main__rooms--text {
    padding: 2rem;
    text-align: center;
  }


  /* MAIN
     ORDER */

  .main__section {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .section-forrest,
  .section-waterline,
  .section-mountain {
    display: block;
  }

  .btn {
    margin: 1rem;
    width: 25%;
  }

  .booking-form__container {
    margin-top: 5rem;
  }

  .booking-form {
    margin-top: 2rem;
  }

  .booking-form__label {
    display: flex;
    flex-direction: column;
    align-items: center;
  }



  /* FOOTER */

  .footer {
    margin-top: 1rem;
    margin-bottom: -1rem;
  }

  .footer__container {
    display: none;
  }

  .footer__figure--logo {
    border: 0;
  }

  .footer__btn {
    display: block;
    padding: 0.5rem 1rem;
    margin-top: -2.25rem;
    background-color: var(--footer--color);
  }

  .footer__link--btn {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
}